*{
  padding:0;
  margin:0;
}

#key-stories{
  background:#fff;
  min-height: 100px;
  margin-top:20px;
}

#key-stories .viz-text{
  padding:0;
}

#key-stories h2{
  margin-top:20px;
}

.key-story-plot{
  border:1px solid #000;
  min-height:200px;
  margin:10px 0;
}

.key-story-plot img{
  width:100%;
}

#button-container{
  text-align: center;
  position: relative;
  padding:0 10px;
}

#button-container button{
    width:19%;
    padding: 10px 0;
    font-size:.5em;
    outline:none;
    opacity:.5;
    margin-right:1%;
    border: 3px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }
  
  #button-container button:last-child{
    border-right:1px solid rgb(100,100,100);
    margin-right:0;
  }
  
  #button-container button:hover{
    opacity:1;
  }
  
  button.total{
    background:rgb(38, 120, 178);
  }
  
  button.thermoelectric{
    background:rgb(237, 201, 72);
  }
  
  button.publicsupply{
    background:rgb(118, 183, 178);
  }
  
  button.irrigation{
    background:rgb(89, 161, 79);
  }
  
  button.industrial{
    background:rgb(225, 87, 89);
  }

@media screen and (min-width:580px){
  #button-container button{
    font-size:.9em;
  }
}
