*{
  padding:0;
  margin:0;
}

.mobile-UI-Container{
  display:flex;
  flex-direction:row;
}

.drop-downs{
  flex: 5;
  padding:0 5px;
}

.drop-downs select{
  width:100%;
  border-radius:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position:relative;
  padding:0 5px;
}

.custom-select{
  position:relative;
}

.view-select{
  height:35px;
  margin-bottom:3px;
  font-size:1em;
}

.county-select{
  height:25px;
}

.drop-down-indicator{
  background:#c6c6c6;
  width:25px;
  position:absolute;
  right:0;
  top:0;
  z-index:1000;
  pointer-events:none;
  text-align:center;
}

.drop-down-indicator img{
  height:14px;
}

.view-custom-select .drop-down-indicator{
  height:35px;
}

.view-custom-select .drop-down-indicator img{
  margin-top:11px;
}

.county-custom-select .drop-down-indicator{
  height:25px;
}

.county-custom-select .drop-down-indicator img{
  margin-top:6px;
}

.drop-downs select,
.zoom-out-button{
  background: #f1f1f1;
  outline:none;
  border:none;
  cursor:pointer;
}

.zoom-out-button-container{
  flex:1;
  padding-right:5px;
}

.zoom-out-button{
  height:100%;
  width:100%;
}

.viz-text ul {
    padding-left: 20px;
    min-height: 20px;
    padding: 15px;
}

#key-stories{
  background:#fff;
  min-height: 100px;
  margin-top:20px;
}

#key-stories .viz-text{
  padding:0;
}

#key-stories p{
  padding-top: 10px; 
  padding-bottom: 10px;
}

#key-stories h2{
  margin-top:20px;
}

.key-story-plot{
  border:1px solid #000;
  min-height:200px;
  margin:10px 0;
}

.key-story-plot img{
  width:100%;
}

#button-container{
  text-align: center;
  position: relative;
  padding:0 10px;
}

#button-container button{
    width:19%;
    padding: 10px 0;
    font-size:.5em;
    outline:none;
    opacity:.5;
    margin-right:1%;
    border: 3px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }
  
  #button-container button:last-child{
    border-right:1px solid rgb(100,100,100);
    margin-right:0;
  }
  
  #button-container button:hover{
    opacity:1;
  }
  
  button.total{
    background:rgb(38, 120, 178);
  }
  
  button.thermoelectric{
    background:rgb(237, 201, 72);
  }
  
  button.publicsupply{
    background:rgb(118, 183, 178);
  }
  
  button.irrigation{
    background:rgb(89, 161, 79);
  }
  
  button.industrial{
    background:rgb(225, 87, 89);
  }

@media screen and (min-width:600px){
  #button-container button{
    font-size:.9em;
  } 
  
  .mobile-UI-Container{
    display:none;
  }
}
