*{
  padding:0;
  margin:0;
}

#button-container{
  text-align: center;
  position: relative;
  padding:0 10px;
}

#button-container button{
    width:19%;
    padding: 10px 0;
    font-size:.5em;
    outline:none;
    opacity:.5;
    margin-right:1%;
    border: 3px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
  }
  
  #button-container button:last-child{
    border-right:1px solid rgb(100,100,100);
    margin-right:0;
  }
  
  #button-container button:hover{
    opacity:1;
  }
  
  button.total{
    background:#2678b2;
  }
  
  button.thermoelectric{
    background:#edc948;
  }
  
  button.publicsupply{
    background:#76b7b2;
  }
  
  button.irrigation{
    background:#59a14f;
  }
  
  button.industrial{
    background:#e15759;
  }
  
  button.piechart{
    background:#A9A9A9;
  }

.legend {
  fill: none;
  stroke: none;
}

.legendText {
  text-anchor: middle;
  font-size: 0.7em;
}

@media screen and (min-width:580px){
  #button-container button{
    font-size:.9em;
  }
}
