
#map-background {
  fill: transparent;
}

#rank-states-interactive text{
  /* on mobile, clicking and holding the state for >1 sec caused fig text
      to highlight and then when you tried to drag, you just selected more*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.state {
  fill: transparent;
  stroke: rgb(180,180,180);
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state-click-off {
  pointer-events: none;
}

.state-click-on {
  fill: white;
  fill-opacity: 0;
  pointer-events: fill;
}

.county {
  fill: transparent;
  stroke: transparent;
}

.show-county-bounds {
  stroke: #bdbdbd;
}

/* must be listed before highlighted-county*/
/* THIS IS WHAT WILL MAKE THE ZOOMED IN STATE EMPHASIZED*/
.emphasize-county {
  fill: rgb(230,230,230);
  stroke: rgb(200,200,200);
}

.highlighted-county {
  stroke: rgb(200,200,200);
  fill: rgb(240,240,240);
} 

.static-state {
  fill: rgb(240,240,240);
  stroke: rgb(190,190,190);
  stroke-width: 4;
}

.bar-name {
  fill: rgb(70,70,70);
  font-size: 65%;
}

.rankem-title{
  fill: rgb(140,140,140);
  font-size: 150%;
  font-family: 'Shadows Into Light';
}

.rankem-explanation{
  fill: rgb(140,140,140);
  font-size: 125%;
  font-family: 'Shadows Into Light';
  text-anchor: middle;
}

.open-bar-name {
  opacity: 0;
}

.wu-circle {
  pointer-events: none;
  stroke-width: 2;
}

#wu-highlight {
  opacity: 1;
}

.draggable-state {
  /* indicate that the state can be clicked/moved
      was using grabbing, but that only works in Firefox*/
  cursor: pointer; 
}

#rank-state-text,
#rank-value-text {
	font-weight: bold;
	font-size: 20px;
}

#rank-state-text,
#rank-value-text,
#rank-units-text {
	fill: rgb(70,70,70);
}

.hidden {
	display: none;
}

.watermark {
  fill: #DCDCDC;
  stroke: #c6c6c6;
  stroke-width:0.5;
  opacity: 0.8;
}
