#maptitle {
  text-anchor: middle;
  font-size: 2em;
  font-weight: bold;
}

#map-background {
  fill: transparent;
}

.state {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.county {
  fill: transparent;
  stroke: darkgrey;
  stroke-width: 0.2;
}

.hidden-border {
  stroke: transparent;
  stroke-width: 0;
}

.county-point,
.pieslice {
  pointer-events: none;
}

#slideraxis path,
#slideraxis line {
  stroke: #fff;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.track-circle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
  cursor: move; /* was using grab, but that only works in Firefox*/
}

.dragging {
  cursor: move; /* was using grabbing, but that only works in Firefox*/
}

.tooltip {
	  position: absolute;
  	padding: 5px 10px;
  	background-color: white;
  	border:1px solid rgb(190,190,190);
  	border-radius: 3px;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  	line-height:1.5em;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}