
#map-background {
  fill: transparent;
}

.state {
  fill: transparent;
  stroke: black;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county {
  fill: transparent;
  stroke: transparent;
}

.show-county-bounds {
  stroke: #bdbdbd; /* dark-ish grey */
}

/* must be listed before highlighted-county*/
/* THIS IS WHAT WILL MAKE THE ZOOMED IN STATE EMPHASIZED*/
.emphasize-county {
  fill: #e3e3e3; /* light-ish grey */
}

.highlighted-county {
  fill: #bdbdbd; /* dark-ish grey */
} 

.wu-circle {
  pointer-events: none;
  stroke-width: 0.1;
}

#wu-highlight {
  opacity: 1;
}

.dragging {
  cursor: move; /* was using grabbing, but that only works in Firefox*/
}

.tooltip {
	  position: absolute;
  	padding: 5px 10px;
  	background-color: white;
  	border:1px solid rgb(190,190,190);
  	border-radius: 3px;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  	line-height:1.5em;
}

.hidden {
	display: none;
}

.watermark {
  fill: #DCDCDC;
  stroke: #c6c6c6;
  stroke-width:0.5;
  opacity: 0.8;
}
