<div id="fig-caption" class="viz-text">

  <p>
    Interact with the figure by clicking or hovering on the map and categories. Click 
    the map to zoom in and look more closely at counties.
  </p>

</div>
