<div class="footerContentAligner">

    <div id="vizlab-promo">
      <p>
        This interactive data visualization was created by
        <a href="https://owi.usgs.gov/vizlab/" target="_blank">
          <strong>USGS VIZLAB</strong> 
          <img class="lazy" src="images/placeholder.gif" data-src="images/atom.svg" alt="atom icon"/>
    	  </a>
    	</p>
    </div>

    <div id="github-contact">
      <p>
        <a class="githublink" href="https://github.com/USGS-VIZLAB/water-use-15" target="_blank" onclick="gtag('event','outbound', 'clicked on repo')">
          <img class="lazy" src="images/placeholder.gif" data-src="images/github.svg" alt="github icon"/>
        	<span>Get the Code</span>
        </a>
        <span>|</span>
        <a href="mailto:vizlab@usgs.gov">
      	  Contact Us
      	</a>
      	<span>|</span>
        <a href="https://www.usgs.gov/" target="_blank" onclick="gtag('event','outbound', 'clicked on USGS.gov')">
      	  U.S. Geological Survey
      	</a> 
    	</p>
    </div>

    <div id="related-items">
      <div id="relatedVizzies">
        <p class="related-items-title">Related Visualizations:</p>
        <div class="related-items-container">
        		<div class="related-item">
      		    <div class="footerThumbnail">
          		  <a href="https://owi.usgs.gov/vizlab/water-use/" target="_blank" onclick="gtag('event','outbound', 'clicked on related vizzy')">
        					<img class="lazy" src="images/placeholder.gif" data-src="images/water_use_thumb.png" alt="Water use viz thumb"/>
          			</a>
        			  <div class="titleHandler">
        				  <a href="https://owi.usgs.gov/vizlab/water-use/" class="related-items-caption">Visualizing water use by region and time</a>
        				</div>
      				</div>
        		</div>
        		<div class="related-item">
      		    <div class="footerThumbnail">
          		  <a href="https://owi.usgs.gov/vizlab/hurricane-maria/" target="_blank" onclick="gtag('event','outbound', 'clicked on related vizzy')">
        		    	<img class="lazy" src="images/placeholder.gif" data-src="images/hurricane_maria.png" alt="hurricane maria viz thumb"/>
                </a>
        			  <div class="titleHandler">
        				  <a href="https://owi.usgs.gov/vizlab/hurricane-maria/" class="related-items-caption">Visualizing Hurricane Maria</a>
        				</div>
      				</div>
        		</div>
      	</div>
      </div>

    </div>

</div>
