<div id="key-stories" class="viz-text">

  <h2>How do we use water in the U.S.?</h2>
  
    <div class="key-story-plot" id="national-pie"></div>
  
    <p>
    
    </p>
    <div class="key-story-plot" id="national-static-pie">
    <figure>
     {{{ figure }}}
    </figure>
    </div>
    <div class="key-story-plot" id="rank-states-interactive"></div>
 
[MVP: static plot of states ranked by water use]

 
<p>
Note that not all water "use" is the same - some use is "consumptive" in the sense that it takes water out of the natural cycle by evaporation, transpiration, or incorporating in into a productby redirecting it to sewage drains (?), while other uses return the water to rivers or aquifers (possibly after adding heat or contaminants). Of the water withdrawn for irrigation, 62 percent is evaporated or transpired by the crops and won't re-enter the natural water cycle until the next rainfall, possibly far away from the point of water withdrawal. For thermoelectric power, consumptive use is 3 percent; the rest is returned to rivers or lakes, albeit warmer than before.
 </p>
 
     <h2>Data Collection</h2>
 
<p>
Every 5 years since 1950, the USGS has compiled and estimated water-use information in cooperation with State, Federal, and local agencies to document how and where we use water. This information is essential to accurately understand how future water demands will be met, while maintaining adequate water quality and quantities for human and ecosystem needs. The fourteenth report in this series, [Estimated Use of Water in the United States in 2015], was released in May of 2018, along with the [county-level data] which supports the publication. The USGS Water Availability and Use Science Program hopes to produce higher spatial resolution and more frequent reports in the future. 
 </p>
<p>
Water use in the United States in 2015 was estimated to be about 322,000 million gallons per day (Mgal/d), including fresh and saline groundwater and surface-water withdrawals. National water-use estimates are available for eight categories of water use for 2015.  The four largest categories (thermoelectric power, irrigation, public supply and self-supplied industrial), representing 95 percent of the total, can be explored individually in this visualization. The remaining four categories (domestic, livestock, aquaculture, and mining) are grouped together and shown on the pie chart view, and are included in the total. 
 </p>
<p>
The visualization shows total withdrawals for each county, though U.S. counties and county-equivalents range in land area from 2 square miles (the independent city of Falls Church, Virginia) to more than 145,000 square miles (Yukon-Koyukuk Census Area, Alaska). 
    </p>
    

     <h2>References</h2>
     
     <p>
Dieter, C.A., Maupin, M.A., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Barber, N.L., and Linsey, K.S., 2018, <i>Estimated use of water in the United States in 2015</i>: U.S. Geological Survey Circular 1441, 60? pages, <a href="https://doi.org/xxxx">https://doi.org/xxxx</a>
    </p>
<br/> 
     <p>
Dieter, C.A., Linsey, K.S., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Maupin, M.A., and Barber, N.L., 2017, <i>Estimated use of water in the United States county-level data for 2015</i>: U.S. Geological Survey data release, <a href="https://doi.org/10.5066/F7TB15V5">https://doi.org/10.5066/F7TB15V5</a>.
    </p>
    {{#sections }}
    {{{ . }}}
    {{/sections }}
</div>