<div id="key-stories" class="viz-text">

  <h2>How do we use water in the U.S.?</h2>
  
    <p>
    You might expect water use to be proportional to the population in a county, but in fact this is only partly true - public supply water use is indeed roughly proportional to urban population size:
    </p>    
    <div class="public-plot"></div>
    [ plot of public supply vs population ]
<p>    
but <b>total</b> water use is not!
</p>  
    <div class="total-plot"></div>
    [ plot of total use vs population ]

  
    <p>
    This discrepancy exists because several major water-using activities occur on large scales and are best suited to specific locations, for both natural and economic reasons. Like these:
    </p>
  <div class="water-use-types"></div>    
    
    <ul>
    
     <li>
     <p>
<b>Agriculture</b> occurs all across the country, but especially where there are fewer people, good soils, and plenty of sunshine. This is why the West withdraws lots of water to supplement the region's meager rainfall.
     </p>

     [static plot of #view=USA&category=irrigation]

     </li>
     <li>
     <p>
Generating electricity uses large amounts of water. In most large <b>thermoelectric</b> power plants where water is heated to generate steam and drive the turbines, water is needed to cool the steam back to water so it can be reused. In the eastern U.S. where water is relatively abundant, large volumes of water are often withdrawn, used once for cooling, then returned to the source a little warmer than it started. Where water is scarcer, more thermoelectric plants withdraw smaller volumes of cooling water and recycle it many times in cooling towers or ponds, returning much less to the source.
</p>

[static version of #view=USA&category=thermoelectric ]

     </li>
     
     <li>
<p>
<b>Industrial</b> withdrawals are use is driven by a combination of social drivers and proximity to water. For example, Lake County, Indiana accounts for 8% of the country's industrial water withdrawals use even though it accounts for only 0.15% of the US population. This can be explained by Lake County's proximity to an easy water source (Lake Michigan) and a large labor force (Chicago), which has led, in part, to a concentration of industries in the steel, aluminum, and metals fabrication businesses.
</p>

[static version of #view=USA&category=industrial]

     </li>
     <li>
<p>
<em>Aquaculture, mining, and livestock</em> water uses are distributed unevenly across the US. Self-supplied domestic use, where a homeowner uses a private well for household water, is larger where public supply systems do not reach significant groups of homes. There are large withdrawals for aquaculture in southern Idaho and western North Carolina, and other counties around the country have large withdrawals of domestic, livestock, aquaculture, and mining. Together these other uses make up 5 percent of total withdrawals.
<\p>

[static version of #view=USA&category=piechart ]

     </li>
    </ul>
    
    <p>
As a result of all this variation in how we use water, total water use differs greatly among statesis not simply proportional to population. Can you guess how your state ranks in total water use and use by category?
</p>
[MVP: static plot of states ranked by water use]

 
<p>
Note that not all water "use" is the same - some use is "consumptive" in the sense that it takes water out of the natural cycle by evaporation, transpiration, or incorporating in into a productby redirecting it to sewage drains (?), while other uses return the water to rivers or aquifers (possibly after adding heat or contaminants). Of the water withdrawn for irrigation, 62 percent is evaporated or transpired by the crops and won't re-enter the natural water cycle until the next rainfall, possibly far away from the point of water withdrawal. For thermoelectric power, consumptive use is 3 percent; the rest is returned to rivers or lakes, albeit warmer than before.
 </p>
 
     <h2>Data Collection</h2>
 
<p>
Every 5 years since 1950, the USGS has compiled and estimated water-use information in cooperation with State, Federal, and local agencies to document how and where we use water. This information is essential to accurately understand how future water demands will be met, while maintaining adequate water quality and quantities for human and ecosystem needs. The fourteenth report in this series, [Estimated Use of Water in the United States in 2015], was released in May of 2018, along with the [county-level data] which supports the publication. The USGS Water Availability and Use Science Program hopes to produce higher spatial resolution and more frequent reports in the future. 
 </p>
<p>
Water use in the United States in 2015 was estimated to be about 322,000 million gallons per day (Mgal/d), including fresh and saline groundwater and surface-water withdrawals. National water-use estimates are available for eight categories of water use for 2015.  The four largest categories (thermoelectric power, irrigation, public supply and self-supplied industrial), representing 95 percent of the total, can be explored individually in this visualization. The remaining four categories (domestic, livestock, aquaculture, and mining) are grouped together and shown on the pie chart view, and are included in the total. 
 </p>
<p>
The visualization shows total withdrawals for each county, though U.S. counties and county-equivalents range in land area from 2 square miles (the independent city of Falls Church, Virginia) to more than 145,000 square miles (Yukon-Koyukuk Census Area, Alaska). 
    </p>
    

     <h2>References</h2>
     
     <p>
Dieter, C.A., Maupin, M.A., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Barber, N.L., and Linsey, K.S., 2018, <i>Estimated use of water in the United States in 2015</i>: U.S. Geological Survey Circular 1441, 60? pages, <a href="https://doi.org/xxxx">https://doi.org/xxxx</a>
    </p>
<br/> 
     <p>
Dieter, C.A., Linsey, K.S., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Maupin, M.A., and Barber, N.L., 2017, <i>Estimated use of water in the United States county-level data for 2015</i>: U.S. Geological Survey data release, <a href="https://doi.org/10.5066/F7TB15V5">https://doi.org/10.5066/F7TB15V5</a>.
    </p>
    
</div>