<div class="mobile-UI-Container">
  <div class="drop-downs">
    <div class="custom-select view-custom-select">
      <div class="drop-down-indicator">
        {{{selectArrows}}}
      </div>
      <select class="view-select">
        <option value="USA">United States - Water Use</option>
      </select>
    </div>
     <div class="custom-select county-custom-select">
      <div class="drop-down-indicator">
        {{{selectArrows}}}
      </div>
      <select class="county-select">
        <option value="Select County">--Select County--</option>
      </select>
    </div>
  </div>
  <div class="zoom-out-button-container">
    <button class="zoom-out-button">Zoom Out</button>
  </div>
</div>