<div id="wu-story">

  <div id="main-story">
  
  <div class="story-one">
  
    <div class="key-story-text viz-text">
  
      <h2>How do we use water in the U.S.?</h2>
      
      <p>
        We all depend on water every day, ranging from the water from our faucets, to the food we eat, to much of the electricity we use. The U.S. and its territories used nearly 322 billion gallons of water per day in 2015. This would cover the continental U.S. in about two inches of water over the course of a year. The national breakdown of water withdrawals looks like this:
          </p>
    
    </div>
    
      <div class="key-story-plot side-by-side">
      
        <div class="side-by-side-left">
           <div class="side-by-side-figure secondary-svg"></div>
        </div>
        
        <div id="national-pie" class="side-by-side-right">
        
          <div id="pie-caption" class="caption">
            <p>
            Each "pie slice" represents a portion of U.S. water withdrawals in 2015.
            </p>
          </div>
        </div>
       
    </div>
   
  </div>
  <div class="story-two">

    <div class="key-story-text viz-text">
     <p>
        Although thermoelectric and irrigation are the dominant categories nationally, the county breakdown reveals regional variation. In the map below, you can see all categories for each county at once. While you can still see that irrigation and thermoelectric are the largest, there is a striking contrast between the East &mdash; where thermoelectric is dominant &mdash; and the West &mdash; where irrigation is dominant.
      </p>
    </div>
      
      <div class="key-story-plot" id="national-static-pie">
        <figure>
          <picture>
            <source class="lazy" srcset="images/placeholder.gif" data-src="images/WU_stories_static.jpg" media="(min-width:600px)"/>
            <source class="lazy" srcset="images/placeholder.gif" data-src="images/WU_stories_static_mobile.jpg" media="(max-width:599px)"/>
            {{{ placeholder }}}
          </picture>
        </figure>
      </div>
      
      <div id="national-static-pie-mobile-container" class="key-story-text viz-text">
        <div id="national-static-pie-mobile-content">
          <p>
          <strong>1. Public Supply</strong> water withdrawals, mostly for Domestic use, are highest in counties with large numbers of people.
          </p>
          <p>
            <strong>2. Aquaculture, mining, self-supplied domestic, and livestock</strong> water uses are distributed unevenly across the US. There are large withdrawals for aquaculture along the Snake River in southern Idaho.
          </p>
          <p>
            <strong>3.</strong> Larger withdrawals in Alaska in the &#8220;other&#8221; categories are for <strong>aquaculture and mining.</strong>
          </p>
          <p>
            <strong>4a. Irrigation</strong> occurs in most areas of the country, but is larger in areas where rainfall is insufficient to meet crop what needs, such as in the <strong>drier parts of the West</strong>. 
          </p>
          <p>
            <strong>4b.</strong> Irrigation in <strong>eastern Arkansas</strong> provides water to flood rice fields as well as supplement rainfall to other crops.
          </p>
          <p>
            <strong>5. Industrial withdrawals</strong> are driven by many factors. Industrial  facilities for production of steel in Lake County, Indiana, are located on Lake Michigan, a large source of fresh water, with access to water and land transportation, and ore and coal deposits. Lake County accounts for 8% of the US industrial water withdrawals.
          </p>
          <p>
            <strong>6.</strong> The Gulf Coast is another hotspot of <strong>industrial</strong> withdrawals for the chemical and petroleum industries.
          </p>
          <p>
            <strong>7. Thermoelectric</strong> power plants use steam to drive turbines and generate electricity. In the <strong>eastern U.S.</strong> where water is relatively abundant, large volumes of water often are withdrawn, used once for cooling, then returned to the source a little warmer than before. In the <strong>western U.S.</strong>, cooling water is more often withdrawn and recirculated many times, so less is withdrawn overall.
  
          </p>
        </div>
        
        <p id="national-static-pie-mobile-interact" class="readMore"><strong>Read More</strong></p>
      
    </div>
  </div>
  
  <div class="story-three">
    
    <div class="key-story-text viz-text">
      <p>
        As a result of all these spatial differences in how we use water, total water use differs greatly among states. Can you guess where these three states rank in total water use?
      </p>
    </div>
      
      <div class="key-story-plot secondary-svg" id="rank-states-interactive"></div>
  
    </div>
  
  </div>
  
  <div id="extras" class="full-width viz-text">
    <div id="data-collection">
      <h3>Data Collection</h3>
   
      <p>
        Every 5 years since 1950, the USGS has compiled and estimated water-use information in cooperation with State, Federal, and local agencies to document how and where we use water. This information is essential to understand how future water demands will be met, while maintaining adequate water quality and quantities for human and ecosystem needs. The fourteenth report in this series, <a href="https://doi.org/10.3133/cir1441">Estimated use of water in the United States in 2015</a>, was released in May of 2018, along with the <a href="NEEDLINK!">county-level data</a> which supports the publication.
       </p>
       <p>
        <a href="https://www.usgs.gov/water-resources/water-availability-and-use-science-program"> Read about the USGS Water Availability and Use Science Program</a> 
       </p>
    </div>
  
    <div id="references">
      <h3>References</h3>
      
      <p>
        Dieter, C.A., Maupin, M.A., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Barber, N.L., and Linsey, K.S., 2018, <i>Estimated use of water in the United States in 2015</i>: U.S. Geological Survey Circular 1441, 65 p., <a href="https://doi.org/10.3133/cir1441">https://doi.org/10.3133/cir1441</a>. [Supersedes USGS Open-File Report 2017–1131.]
      </p>
      
      <p>
        Dieter, C.A., Linsey, K.S., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Maupin, M.A., and Barber, N.L., 2017, <i>Estimated use of water in the United States county-level data for 2015</i>: U.S. Geological Survey data release, <a href="https://doi.org/10.5066/F7TB15V5">https://doi.org/10.5066/F7TB15V5</a>.
      </p>
    </div>
  </div>
  
  <!-- This is where the js files are run. Has to be after the divs are added -->
  {{#sections }}
  {{{ . }}}
  {{/sections }}
    
</div>
