<div id="wu-story" class="viz-text">

  <div id="main-story">
  
  <div class="story-one">
  
      <h3>How do we use water in the U.S.?</h3>
      
      <p>
        We all depend on water every day, ranging from the water from our faucets, to the food we eat, to much of the electricity we use. The U.S. and its territories used nearly 322 billion gallons of water per day in 2015. This would cover the continental U.S. in about two inches of water over the course of a year. The national breakdown of water withdrawals looks like this:
          </p>
    
      <div class="key-story-plot side-by-side">
      
      
        <div class="side-by-side-left">
           <div class="side-by-side-figure secondary-svg"></div>
        </div>
        
        <div id="national-pie" class="side-by-side-right">
        
          <div id="fig-caption" class="pie-caption">
            <p>
            Each "pie slice" represents a portion of U.S. water withdrawals in 2015.
            </p>
          </div>
        </div>
       
    </div>
   
  </div>
  <div class="story-two">
     <p>
        Although thermoelectric and irrigation are the dominant categories nationally, the county breakdown reveals regional variation. In the map below, you can see all categories for each county at once. While you can still see that irrigation and thermoelectric are the largest, there is a striking contrast between the East &mdash; where thermoelectric is dominant &mdash; and the West &mdash; where irrigation is dominant.
      </p>
      
      <div class="key-story-plot" id="national-static-pie">
        <figure class="desktop-figure">
         {{{ placeholder }}}
        </figure>
      </div>
    
  </div>
  
  <div class="story-three">
    
      <p>
        As a result of all these spatial differences in how we use water, total water use differs greatly among states. Can you guess where these three states rank in total water use?
      </p>
      
      <div class="key-story-plot secondary-svg" id="rank-states-interactive"></div>
  
    </div>
  
  </div>
  
  <div class="extras">
    <div id="data-collection">
      <h4>Data Collection</h4>
   
      <p>
        Every 5 years since 1950, the USGS has compiled and estimated water-use information in cooperation with State, Federal, and local agencies to document how and where we use water. This information is essential to understand how future water demands will be met, while maintaining adequate water quality and quantities for human and ecosystem needs. The fourteenth report in this series, <a href="NEEDLINK!">Estimated Use of Water in the United States in 2015</a>, was released in May of 2018, along with the <a href="NEEDLINK!">county-level data</a> which supports the publication.
       </p>
       <p>
        <a href="https://www.usgs.gov/water-resources/water-availability-and-use-science-program"> Read about the USGS Water Availability and Use Science Program</a> 
       </p>
    </div>
  
    <div id="references">
      <h4>References</h4>
      
      <p>
        Dieter, C.A., Maupin, M.A., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Barber, N.L., and Linsey, K.S., 2018, <i>Estimated use of water in the United States in 2015</i>: U.S. Geological Survey Circular 1441, 60? pages, <a href="https://doi.org/xxxx">https://doi.org/xxxx</a>
      </p>
      
      <p>
        Dieter, C.A., Linsey, K.S., Caldwell, R.R., Harris, M.A., Ivahnenko, T.I., Lovelace, J.K., Maupin, M.A., and Barber, N.L., 2017, <i>Estimated use of water in the United States county-level data for 2015</i>: U.S. Geological Survey data release, <a href="https://doi.org/10.5066/F7TB15V5">https://doi.org/10.5066/F7TB15V5</a>.
      </p>
    </div>
  </div>
  
  <!-- This is where the js files are run. Has to be after the divs are added -->
  {{#sections }}
  {{{ . }}}
  {{/sections }}
    
</div>
